/*globalne*/
* {
    box-sizing: border-box;
}

/*ogolne*/
body{
    color: #c8c8c8;
    background: black;
    min-width: 600px;
    font-family: sans-serif;
    margin: 0;
}

body > header {
    background: linear-gradient(to right, #222, #630);
    overflow: hidden;
}

header{
    text-align: center;
}

footer{
    border-top: gray 1px solid;
    margin-bottom: 25px;
}

p,
h1,
h2,
h3,
h4 {
    margin: 15px;
}

/*pasek statusu*/
#status{
    position: fixed;
    bottom: 0;
    left: 0;
    color: red;
    background: rgba(36,36,36,1);
}

/*pasek nawigacji*/
nav ul li{
    display: inline-block;
    background: rgba(36,36,36,1);
    border: 1px solid #666;
    border-radius: 15px;
    padding: 2px 10px;
    margin: 0 3px;
}

nav ul li a:link{
    color: orange;
    text-decoration: none;
}

nav ul li a:visited{
    color: orange;
}

nav ul{
    display: inline-block;
}

nav{
    text-align: center;
    margin-bottom: 50px;
}
